# File hasil kompilasi LaTeX
/main.pdf
/main.txt
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.fmt
*.fot
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv
*.ilg
*.ind
*.idx
*.nlo
*.nls
*.glo
*.gls
*.acn
*.acr
*.alg

# Editor dan sistem operasi
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Berkas sementara
__pycache__/
*.py[cod]
